.dashboard-page-content {
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    min-height: 100%; 
}

.conteudo-principal {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 50px 20px;
}

.dashboard-container {
    max-width: 900px;
    margin: auto;
    padding: 0 10px;
}

.dashboard-resumo-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    background-color: #004a8d;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-resumo-item {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.dashboard-cta-button {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.dashboard-cta-button:hover {
    background-color: #1e8734;
}

.dashboard-cta-wrapper {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.dashboard-dendrons-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.dashboard-empty-state-content {
    color: white;
    padding: 20px;
}

/* Responsividade */
@media (max-width: 600px) {
    .dashboard-resumo-header {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }
    
    .dashboard-container {
        padding: 0;
    }
}