html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #002b4d;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

button {
    cursor: pointer;
}